# =========================
# Next.js (Frontend)
# =========================
# dependencies
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# testing
frontend/coverage/

# Next.js build output
frontend/.next/
frontend/out/
frontend/build/

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# Vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# Vari?veis de ambiente
frontend/.env
frontend/.env.*
frontend/.env*.local
!frontend/.env.example

# =========================
# .NET / C# (Backend)
# =========================
# Pastas de compila??o (Arquivos bin?rios pesados)
backend/bin/
backend/obj/

# Arquivo de configura??o sens?vel local
backend/appsettings.Development.json
backend/appsettings.*.json
!backend/appsettings.Example.json

# Arquivos de cache e usu?rio do Visual Studio / VS Code
*.user
*.suo
.vscode/

# =========================
# OS / Geral
# =========================
.DS_Store
Thumbs.db
*.pem
